<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="ACA Project about parallelization of mathematical morphology algorithms">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="impress-not-supported">

<div class="fallback-message">
    <p>
        Your browser <b>doesn't support the features required</b> to display this slideshow, so you are presented with a
        simplified version.
    </p>
    <p>
        For the best experience please use a modern and updated browser, popular ones are
        <i><a href="https://www.mozilla.org/firefox/">Firefox</a></i> and
        <i><a href="https://www.google.com/chrome/">Chrome</a></i>.
    </p>
</div>

<div id="intro-aux">
    <header>
        <h2>Università degli studi di Pavia</h2>
        <q>Master Degree in Computer Engineering</q>
    </header>
    <footer>
        <div>Dominik Lietavec, Luca Zanussi</div>
        <div>A.A. 2018 – 2019</div>
    </footer>
</div>

<div id="impress" data-console-css="<%= require('!!file-loader!./speaker-console.css') %>">

    <div id="title" class="step" data-y="500" data-z="2000" data-rotate-y="-20">
        <h1><span>&mdash; Advanced Computer Architecture &mdash;</span> Parallelizing<br> Mathematical Morphology</h1>
    </div>

    <%= require('./content/1-morphology.ejs')() %>
    <%= require('./content/2-impl.ejs')() %>
    <%= require('./content/3-planning.ejs')() %>
    <%= require('./content/4-kernspec.ejs')() %>
    <%= require('./content/5-simd.ejs')() %>
    <%= require('./content/6-optimization.ejs')() %>
    <%= require('./content/7-results.ejs')() %>
    <%= require('./content/8-cuda.ejs')() %>

    <div id="outro" class="step"
         data-x="3000" data-y="3000" data-z="3000" data-scale="4"
         data-rotate-x="-30" data-rotate-y="20" data-rotate-z="-45"></div>

</div>

<div id="last-slide">
    <asciinema-player
        src="<%= require('./morphbench.cast') %>"
        font-size="medium" poster="npt:50" preload></asciinema-player>
    <div id="last-content" class="step">
        <h1>In the end</h1>
        <ul>
            <li>Considering the results, our custom core scheduling turned out to be successful;</li>
            <li>The adoption of vector instructions allowed us to achieve a dramatic performance improvement;</li>
            <li>Using profiling software we managed to maximize CPU usage and obtain an additional speedup.</li>
        </ul>
    </div>
</div>

<div id="show-more">
    <button id="show-more-btn" class="hidden" title="Show more"></button>
    <div id="more-container-3d">
        <div id="more-content-overlay"></div>
    </div>
</div>

<div id="impress-toolbar"></div>
<div class="impress-progressbar"><div></div></div>

</body>
</html>
