<div id="results" class="step semislide" data-x="2000" data-y="1000" data-z="3000" data-scale="4" data-rotate-z="20">
    <img src="<%=require(REPORT_IMAGES_DIR + 'bench_cloud.svg')%>">
    <img src="<%=require(REPORT_IMAGES_DIR + 'bench_6900_8k.svg')%>">


</div>

<div id="results2" class="step semislide" data-x="3200" data-y="500" data-z="4500" data-scale="4" data-rotate-z="-20">
    <img src="<%=require(REPORT_IMAGES_DIR + 'bench_cloud_simd.svg')%>">

</div>

<div id="compilers" class="step" data-x="0" data-y="3000" data-z="0" data-rotate-z="90">
    <h1>Compilers comparison</h1>
    <img src="<%=require(REPORT_IMAGES_DIR + 'bench_compilers.svg')%>">
    <img src="<%=require(REPORT_IMAGES_DIR + 'bench_compilers_simd.svg')%>">

</div>
